*{
  margin:0;
  padding:0;
}

#map_canvas{
  margin:0 auto;
  width:80%;
  height:500px;
}

body{
  padding:10px;
}

ul{
  margin:10px;
  padding-left:30px;
  list-style-type:disc;
}

li{
  padding:5px;
}

input{
  width:300px;
  margin-bottom:10px;
}

textarea{
  width:300px;
}

button{
  padding: 0 10px;
}